/* Import Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Russo+One&display=swap');

/* Body */
body {
    background-color: black;
    color: white;
    font-family: 'Press Start 2P', cursive;
    margin: 0;
    padding: 0;
    text-align: center;
}

h1 {
    color: red;
    font-size: 3rem;
    margin-top: 20px;
}

.profile-container {
    margin: 20px auto;
    border: 2px solid white;
    padding: 20px;
    width: 80%;
    max-width: 600px;
    font-family: 'Russo One', sans-serif;
    text-align: left;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
    border-bottom: 1px solid white;
    padding-bottom: 10px;
}

.delete-button {
    font-family: 'Press Start 2P', cursive;
    border: 2px solid red;
    background-color: transparent;
    color: red;
    padding: 5px 10px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.delete-button:hover {
    background-color: red;
    color: white;
}

.custom-button {
    padding: 10px 20px;
    border: 2px solid white;
    color: white;
    background-color: transparent;
    font-family: 'Press Start 2P', cursive;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.custom-button:hover {
    background-color: grey;
    color: black;
}